.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--gray-light);
  padding: 25px 50px 25px 50px;
  gap: 20px;

  &__item {
    width: 20%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      position: relative;
      bottom: 5px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    height: 100%;
    text-align: center;

    &__image {
      object-fit: scale-down;
      width: 210px;
      height: 250px;
      border-radius: 8px;
      transition: transform 0.3s ease;
    }

    &__header {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
    }

    &__title {
      color: var(--gray);
      font-size: 1.0rem;
      margin: 0;
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;

      &.button{
        margin: 0;
      }
    }

    &__price,
    &__rating {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--black);
    }

    .stars {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--yellow);
    }

    .star {
      font-size: 1.2rem;
      color: var(--yellow);
      /* Cor das estrelas vazias */
      margin-right: 3px;
    }
  }
}

